* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    -ms-overflow-style: none;
}

html {
    background-color: #fffde7;
}

html,
body {
    height: 100%;
    width: 100%;
}

header,
footer {
    height: 12.5%;
    position: relative;
}

.header-shadow {
    box-shadow: 0 0 8px #9e9e9e;
}

#title-wrapper {
    padding: .5rem;
    display: block;
    text-decoration: none;
    border-bottom: dotted 4px #a1887f;
}

.title {
    font-size: 2.125rem;
    font-weight: 600;
    letter-spacing: .5rem;
    display: inline-block;
    animation: swing 1.5s linear infinite alternate;
}

@keyframes swing{
    from {
        transform: rotateZ(-15deg);
    }
    to {
        transform: rotateZ(15deg);
    }
}

*::-webkit-scrollbar {
    display: none;
  }

#contents {
    height: 75%;
}

#diary_wrapper {
    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    width: 75%;
    position: relative;
    overflow-y: scroll;
}

#copyright {
    line-height: 2.25rem;
    top: auto;
    font-size: .75rem;
    color: #9e9e9e;
}

.center {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1.5rem;
    color: #ffffff;
}

.block {
    display: block;
}

.a_reset {
    text-decoration: none;
}

.pink {
    color: #f8a0ba;
}

.light_blue {
    color: #3ab6e7;
}

.teal {
    color: #10a29e;
}

.amber {
    color: #ef900f;
}

.purple {
    color: #ba78b6;
}

.light_green {
    color: #52b650;
}

.brown {
    color: #ca6328;
}

.blue {
    color: #1a96d0;
}

.red {
    color: #d62134;
}

.bg-pink {
    background-color: #f8a0ba;
}

.bg-light_blue {
    background-color: #3ab6e7;
}

.bg-teal {
    background-color: #10a29e;
}

.bg-amber {
    background-color: #ef900f;
}

.bg-purple {
    background-color: #ba78b6;
}

.bg-light_green {
    background-color: #52b650;
}

.bg-brown {
    background-color: #ca6328;
}

.bg-blue {
    background-color: #1a96d0;
}

.bg-red {
    background-color: #d62134;
}