#diary_list_table {
    line-height: 3rem;
    width: 100%;
    table-layout: fixed;
    font-size: 1.5rem;
    border-radius: 8px;
    border: dotted 4px #a1887f;
}

th,
.diary_list_a {
    padding: 1rem 2rem;
}

th,
td {
    border-bottom: dotted 2px #a1887f;
}

tr:last-child td {
    border-bottom: none;
}

th:last-child,
td:nth-child(2n) {
    border-left: dotted 2px #a1887f;
}

th {
    color: #616161;
}

th:first-child {
    width: 37.5%;
}

.diary_list_a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
}

#diary_list_bt {
    right: 2rem;
    bottom: auto;
    left: auto;
}

#diary-title,
#diary-text {
    padding: 1rem;
    width: 100%;
    outline: none;
    font-size: 1rem;
    border: dotted 4px #a1887f;
    border-radius: 8px;
}

label {
    display: block;
    padding: .5rem;
}


#diary_form_bt_back {
    float: left;
}

#diary_form_bt_next{
    float: right;
}

#bt-wrapper{
    width: 50%;
    top: auto;
}

#f_left {
    float: left;
}

#f_right{
    float: right;
}

#f_center{
    position: relative;
    left: calc(50% - 144px);
    float: left;
}

#diary_detail_title {
    height: 2.25rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    overflow: scroll;
}

#diary_detail_text{
    padding-bottom: 8rem;
    height: calc(100% - 9rem);
    font-size: 1.25rem;
    overflow: scroll;
}

#confirm {
font-size: 2rem;
}

.dotted{
    border: dotted 4px #a1887f;
padding: 1rem;
/* border-radius: 8px; */
}