{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>みんなのにっき - ホーム</title>

    <link
        href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&display=swap&subset=japanese"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'diary:list' %}" id="title-wrapper" class="center">
            <span class="title pink">み</span>
            <span class="title light_blue">ん</span>
            <span class="title teal">な</span>
            <span class="title amber">の</span>
            <span class="title purple">に</span>
            <span class="title light_green">っ</span>
            <span class="title brown">き</span>
        </a>
    </header>
    <div id="contents">
<div id="diary_wrapper">
    {% if object_list %}
    <table id="diary_list_table">
        <tr>
            <th>だいめい</th>
            <th>ないよう</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>
                <a class="diary_list_a a_reset" href="{% url 'diary:detail' object.pk %}">{{ object.title }}</a>
            </td>
            <td>
                <a class="diary_list_a a_reset" href="{% url 'diary:detail' object.pk %}">ないようだよ</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div id="confirm" class="center">にっきがないよ</div>
    {% endif %}
</div>
    </div>
    <footer>
        <a id="diary_list_bt" class="bg-pink center button a_reset" href="{% url 'diary:create' %}">つくる</a>
        <div id="copyright" class="center">© 2019 みんなのにっき</div>
    </footer>
    <script src="{% static 'js/diary.js' %}"></script>
</body>

</html>