{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>みんなのにっき - 詳細</title>

    <link
        href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&display=swap&subset=japanese"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'diary:list' %}" id="title-wrapper" class="center">
            <span class="title pink">み</span>
            <span class="title light_blue">ん</span>
            <span class="title teal">な</span>
            <span class="title amber">の</span>
            <span class="title purple">に</span>
            <span class="title light_green">っ</span>
            <span class="title brown">き</span>
        </a>
    </header>
    <div id="contents">
<div id="diary_wrapper">
    <div id="diary_detail_title" class="">
        {{ object.title }}
    </div>
    <div id="diary_detail_text" class="">
        {{ object.text | linebreaksbr }}
    </div>
    <div id="bt-wrapper" class="center">
        <a href="{% url 'diary:list' %}" id="f_left" class="button bg-light_blue a_reset">もどる</a>
        <a href="{% url 'diary:delete' object.pk %}" id="f_center" class="button bg-red a_reset">けす</a>
        <a href="{% url 'diary:update' object.pk %}" id="f_right" class="button bg-pink a_reset">かえる</a>
    </div>
</div>
    </div>
    <footer>
        <div id="copyright" class="center">© 2019 みんなのにっき</div>
    </footer>
</body>

</html>