{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>みんなのにっき - {% if request.path == "/create/" %}作成{% else %}更新{% endif %}</title>

    <link
        href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&display=swap&subset=japanese"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'diary:list' %}" id="title-wrapper" class="center">
            <span class="title pink">み</span>
            <span class="title light_blue">ん</span>
            <span class="title teal">な</span>
            <span class="title amber">の</span>
            <span class="title purple">に</span>
            <span class="title light_green">っ</span>
            <span class="title brown">き</span>
        </a>
    </header>
    <div id="contents">
        <div id="diary_wrapper">
            <form action="" method="post">
                {% csrf_token %}

                <div id="diary-title-wrapper">
                    <label for="diary-title">たいとる</label>
                    {{ form.title | attr:"id:diary-title" }}
                </div>

                <br>

                <div id="diary-text-wrapper">
                    <label for="diary-text">ないよう</label>
                    {{ form.text | attr:"id:diary-text" }}
                </div>

                <div id="bt-wrapper" class="center">
                    <a href="{% url 'diary:list' %}" id="diary_form_bt_back"
                        class="bg-light_blue button a_reset">もどる</a>
                    {% if request.path == "/create/" %}
                    <input type="submit" value="つくる" id="diary_form_bt_next" class="bg-pink button block">
                    {% else %}
                    <input type="submit" value="かえる" id="diary_form_bt_next" class="bg-pink button block">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div id="copyright" class="center">© 2019 みんなのにっき</div>
    </footer>
</body>

</html>