{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>みんなのにっき - 確認</title>

    <link
        href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&display=swap&subset=japanese"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'diary:list' %}" id="title-wrapper" class="center">
            <span class="title pink">み</span>
            <span class="title light_blue">ん</span>
            <span class="title teal">な</span>
            <span class="title amber">の</span>
            <span class="title purple">に</span>
            <span class="title light_green">っ</span>
            <span class="title brown">き</span>
        </a>
    </header>
    <div id="contents">
        <div id="diary_wrapper">
            <div id="confirm" class="center">ほんとうに消しちゃうよ？</div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="bt-wrapper" class="center">
                    <a href="{% url 'diary:list' %}" id="diary_form_bt_back" class="bg-light_blue button a_reset">もどる</a>
                    <input type="submit" value="けす" id="diary_form_bt_next" class="bg-red button block">
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div id="copyright" class="center">© 2019 みんなのにっき</div>
    </footer>
</body>

</html>